
{% extends 'base.html'%}

{% block 'title'%}
addpage
{%endblock%}
{% block 'css'%}
  
{%endblock%}
{% block 'bodyTitle' %} {%endblock%}
{% block 'content'%}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <div class="row justify-content-center border">
        <h1 style="text-align: center;">Add Magasin</h1>
        <div class="col-md-6">
            <form  method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form |  crispy}}
                <button type="submit" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Ajouter</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}

{% block 'js'%}{%endblock%}