{% extends 'base.html'%}

{% block 'title'%}
HomePage
{%endblock%}
{% block 'css'%}

{%endblock%}
{% block 'bodyTitle' %} {%endblock%}
{% block 'content'%}
<div class="container">
  


<table class="table">
  <h1 style="text-align: center;">Lsite des personnes</h1>
  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Age</th>
      <th scope="col">Sexe</th>
      <th scope="col">Country</th>
      <th scope="col"></th>
      <th scope="col"><a href="add" class="btn btn-success d-grid gap-2 col-6 mx-auto">Create</a></th>
    </tr>
  </thead>
  <tbody>
    
    {% for person in persons %}
    <tr>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
      <td>{{ person.sex }}</td>
      <td>{{ person.country }}</td>
      <td></td>
      <td><a href="{{ person.get_delete_url }}" class="btn btn-danger">Delete</a>
      <a href="{{ person.get_update_url }}" class="btn btn-warning">Update</a>
      </td>
    </tr>
    {% endfor%}
  </tbody>
</table>




</div>
{%endblock%}

{% block 'js'%}{%endblock%}